.DS_Store

.pnp
.pnp.js
.env.*.local
.history
.rts*
*.log*
*.pid
*.pid.*
*.report
*.lcov
lib-cov

node_modules/
idl/
mock-server/
.npm
.lock-wscript
.yarn-integrity
.node_repl_history
.nyc_output
*.tsbuildinfo
.eslintcache
.sonarlint

dist/
coverage/
release/
output/
output_resource/

.vscode/**/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
chorme-extension/
chrome-extension/
.npmrc